/* basic box sizing for whole app */
*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    /* make the x & o marks 90% of the cell size */
    --mark-size: calc(var(--cell-size)* .9);
}

body {
    margin: 0;
}

/* centering the board */
.board { 
    width: 100vw;
    height: 100vh;
    display: grid;
    /* center cells */
    justify-content: center;
    align-content: center;
    /* center x & o */
    justify-items: center;
    align-items: center;
    /* to make it a 3x3 grid */
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/* getting rid of all side boarders */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

/* when a cell is already taken, cursor will show not-allowed symbol */
.cell.x, 
.cell.circle {
    cursor: not-allowed;
}

/*  hover effect for x and circle*/
.cell.x::before,
.cell.x::after,
.cell.circle::before {
    background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: lightgrey;
}

/* created a x, not using the key but two parallel line crossed */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    /* fixing offset of x */
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

/* created an o */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    /* fixing offset of o */
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) *.7);
    height: calc(var(--mark-size) *.7);
    background-color: white;
}