/* basic box sizing for whole app */
*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    /* make the x & o marks 90% of the cell size */
    --mark-size: cal(var(var(--cell-size))* .9);
}

body {
    margin: 0;
}

/* centering the board */
.board { 
    width: 100vw;
    height: 100vh;
    display: grid;
    /* center cells */
    justify-content: center;
    align-content: center;
    /* center x & o */
    justify-items: center;
    align-items: center;
    /* to make it a 3x3 grid */
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
}

/* getting rid of all side boarders */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}